In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Setting file path. We'll be opening first the Performance folder:
absolute_path = "C:/Users/l.arguello/Downloads/Manulife_DataAuditor/Performance"

In [3]:
# Core Fixed Income	                    12776	P73285
# Core Plus Fixed Income	            12777	P74285 
# Global Quality Value	                12783	P85285
# Strategic Fixed Income	            12811	P121285
# Strategic Fixed Income Opportunities	12812	P126285
# US Small Cap Core	                    12823	P147285

sheet_names = ['P73285', 'P74285', 'P85285', 'P121285', 'P126285', 'P147285']

In [31]:
# Defining the Excel file to be openned and the sheet we need from the book:
excel_file = pd.read_excel(absolute_path + "/Data_Audit_Report_Morningstar_1_2024.xlsx", sheet_name=sheet_names[0])
# Printing file sample:
excel_file.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,LEGEND,NaN,NaN,NaN
1,NaN,NaN,NaN,Green Indicates matching data between APX and ...,NaN,NaN
2,NaN,NaN,NaN,Yellow Indicates nonmatching data between APX ...,NaN,"*For a data mismatch, information is formated ..."

In [32]:
# Selecting the header names placed in row 7:
excel_file.columns = excel_file[7:].iloc[0]
# Selecting the rows with data and reseting the index:
excel_file = excel_file[7:][1:].reset_index(drop=True)

In [33]:
# Checking data type of all columns in the file:
excel_file.info()
# Date column does not have the correct type, the others are mixed due to characters being in them such as /

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              336 non-null    object
 1   Gross Return (%)  335 non-null    object
 2   Net Return (%)    335 non-null    object
 3   Assets            324 non-null    object
 4   Accounts          285 non-null    object
 5   nan               0 non-null      object
dtypes: object(6)
memory usage: 15.9+ KB

In [34]:
excel_file.head()

7     Date Gross Return (%) Net Return (%)               Assets Accounts  NaN
0  12/2023              NaN            NaN                  NaN      NaN  NaN
1  11/2023          4.87298        4.84676             4684.755      NaN  NaN
2  10/2023         -1.89670       -1.92122             4453.165      NaN  NaN
3  09/2023         -2.63552       -2.65986             4551.717      NaN  NaN
4  08/2023         -0.62979       -0.65464  4663.914 / 4026.569      NaN  NaN

In [35]:
# We need information from 09/2022 onwards, so I'll be turning Date column into correct type and then filter by date:
excel_file['Date'] = pd.to_datetime(excel_file['Date'], format = '%m/%Y')
# Selecting data in the dataframe by the correct date:
excel_file = excel_file[~(excel_file['Date'] < '09/2022')]

In [36]:
# Printing the dataframe with information since 09/2022:
excel_file

7,Date,Gross Return (%),Net Return (%),Assets,Accounts,NaN
0,2023-12-01,NaN,NaN,NaN,NaN,NaN
1,2023-11-01,4.87298,4.84676,4684.755,NaN,NaN
2,2023-10-01,-1.89670,-1.92122,4453.165,NaN,NaN
3,2023-09-01,-2.63552,-2.65986,4551.717,NaN,NaN
4,2023-08-01,-0.62979,-0.65464,4663.914 / 4026.569,NaN,NaN
5,2023-07-01,0.02650 / 0.04447,0.00149 / 0.01946,4580.570 / 3938.822,NaN,NaN
6,2023-06-01,-0.21631 / -0.18826,-0.24126 / -0.21321,4037.725 / 3395.588,NaN,NaN
7,2023-05-01,-0.98764 / -0.97212,-1.01239 / -0.99688,3880.486 / 3236.112,NaN,NaN
8,2023-04-01,0.57062,0.54548,3778.702 / 3127.212,NaN,NaN
9,2023-03-01,2.05121 / 2.02233,2.02570 / 1.99683,3606.232 / 2958.551,NaN,NaN
10,2023-02-01,-2.19887 / -2.1758,-2.22332 / -2.20025,3425.921 / 2791.82,NaN,NaN
11,2023-01-01,3.62683 / 3.68414,3.60092 / 3.65822,3112.535 / 2463.61,NaN,NaN
12,2022-12-01,-0.37934,-0.40425,2929.579,NaN,NaN
13,2022-11-01,3.71525,3.68933,2932.680,NaN,NaN
14,2022-10-01,-1.62929,-1.65389,2814.158,NaN,NaN
15,2022-09-01,-4.46798,-4.49186,2880.654,NaN,NaN

In [37]:
for n in range(1, excel_file.shape[1]):

    for i,j in enumerate(excel_file[excel_file.columns[n]]):
        
        
        try:
            if float(j) >= 0 or float(j) <= 0:

                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '0') # "Complete"
        except:
            if "<NO APX> / " in j:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '1') # "Data not in the Vault"
            elif " / <NO DATA>" in j:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '2') # "Data not in the database"
            elif " / " in j:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '3') # "Data not matching"

In [38]:
# Let's fill the NaN values for easier further processes:
excel_file.fillna('-1', inplace=True)

In [39]:
excel_file

7        Date Gross Return (%) Net Return (%) Assets Accounts NaN
0  2023-12-01               -1             -1     -1       -1  -1
1  2023-11-01                0              0      0       -1  -1
2  2023-10-01                0              0      0       -1  -1
3  2023-09-01                0              0      0       -1  -1
4  2023-08-01                0              0      3       -1  -1
5  2023-07-01                3              3      3       -1  -1
6  2023-06-01                3              3      3       -1  -1
7  2023-05-01                3              3      3       -1  -1
8  2023-04-01                0              0      3       -1  -1
9  2023-03-01                3              3      3       -1  -1
10 2023-02-01                3              3      3       -1  -1
11 2023-01-01                3              3      3       -1  -1
12 2022-12-01                0              0      0       -1  -1
13 2022-11-01                0              0      0       -1  -1
14 2022-10-01                0              0      0       -1  -1
15 2022-09-01                0              0      0       -1  -1

In [40]:
excel_file['test'] = excel_file[excel_file.columns[1:]].apply(lambda x: ', '.join(x.astype(str)), axis=1)
# Load a sample of how it looks like at the moment:
excel_file.head()

7,Date,Gross Return (%),Net Return (%),Assets,Accounts,NaN,test
0,2023-12-01,-1,-1,-1,-1,-1,"-1, -1, -1, -1, -1"
1,2023-11-01,0,0,0,-1,-1,"0, 0, 0, -1, -1"
2,2023-10-01,0,0,0,-1,-1,"0, 0, 0, -1, -1"
3,2023-09-01,0,0,0,-1,-1,"0, 0, 0, -1, -1"
4,2023-08-01,0,0,3,-1,-1,"0, 0, 3, -1, -1"

In [41]:
for i,j in enumerate(excel_file['test']):


    if (('1' and '2' and '3') or ('0' and '1'and '2' and '3')) in j:
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault, not in the database, and not matching')

    elif (('1' and '2') or ('0' and '1' and '2')) in j:
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault and not in the database')

    elif (('1' and '3') or ('0' and '1' and '3')) in j:
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault and no matching')

    elif (('2' and '3') or ('0' and '2' and '3')) in j:
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the database and not matching')

    elif ('0' or ('0' and '-1')) in j:
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Complete') 

    elif ('0' and '3') in j:
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not matching')

In [46]:
for i,j in enumerate(excel_file['test']):
    
    if (('3' in j) and ('1' in j) and ('0' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault and not matching')
    
    if (('2' in j) and ('1' in j) and ('0' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault and not in the database')
    
    if (('3' in j) and ('2' in j) and ('1' in j) and ('0' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault, not matching and not in the database')
    
    if (('3' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not matching')

    if (('2' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the database')

    if (('1' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Data not in the Vault')

    if (('0' in j)):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'Complete')

    if (('-1' in j).all()):
        excel_file['test'][i] = excel_file['test'][i].replace(j, 'NV and NDB')

AttributeError: 'bool' object has no attribute 'all'

In [44]:
excel_file['test']

0                                 Data not in the Vault
1                                              Complete
2                                              Complete
3                                              Complete
4     Data not in the Vault, not in the database, an...
5     Data not in the Vault, not in the database, an...
6     Data not in the Vault, not in the database, an...
7     Data not in the Vault, not in the database, an...
8     Data not in the Vault, not in the database, an...
9     Data not in the Vault, not in the database, an...
10    Data not in the Vault, not in the database, an...
11    Data not in the Vault, not in the database, an...
12                                             Complete
13                                             Complete
14                                             Complete
15                                             Complete
Name: test, dtype: object

In [18]:
excel_file['Held?'] = excel_file.apply(
    lambda row: 'Yes' if (i=='0' and i=='-1') for row['test'] else 'No', axis='columns')
        #excel_file['test'][i]=excel_file['test'][i].replace(j, "complete")

SyntaxError: expected 'else' after 'if' expression (2487741947.py, line 2)

In [15]:
excel_file['test']

0     -1, -1, -1, -1, -1
1        0, 0, 0, -1, -1
2        0, 0, 0, -1, -1
3        0, 0, 0, -1, -1
4        0, 0, 3, -1, -1
5        3, 3, 3, -1, -1
6        3, 3, 3, -1, -1
7        3, 3, 3, -1, -1
8        0, 0, 3, -1, -1
9        3, 3, 3, -1, -1
10       3, 3, 3, -1, -1
11       3, 3, 3, -1, -1
12       0, 0, 0, -1, -1
13       0, 0, 0, -1, -1
14       0, 0, 0, -1, -1
15       0, 0, 0, -1, -1
Name: test, dtype: object

In [173]:
for i,j in enumerate(excel_file['test']):

    if (('3') and ('1')) in str(j):
        if ('-1') in str(j):
            excel_file['test'][i] = excel_file['test'][i].replace(str(j), 'Data is not matching, not in the database and complete')

C:\Users\l.arguello\AppData\Local\Temp\ipykernel_11592\141565367.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excel_file['test'][i] = excel_file['test'][i].replace(str(j), 'Data is not matching, not in the database and complete')

In [174]:
excel_file

7,Date,Gross Return (%),Net Return (%),Assets,Accounts,NaN,test
0,2023-12-01,-1,-1,-1,-1,-1,"Data is not matching, not in the database and ..."
1,2023-11-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."
2,2023-10-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."
3,2023-09-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."
4,2023-08-01,0,0,3,-1,-1,"Data is not matching, not in the database and ..."
5,2023-07-01,3,3,3,-1,-1,"Data is not matching, not in the database and ..."
6,2023-06-01,3,3,3,-1,-1,"Data is not matching, not in the database and ..."
7,2023-05-01,3,3,3,-1,-1,"Data is not matching, not in the database and ..."
8,2023-04-01,0,0,3,-1,-1,"Data is not matching, not in the database and ..."
9,2023-03-01,3,3,3,-1,-1,"Data is not matching, not in the database and ..."
10,2023-02-01,3,3,3,-1,-1,"Data is not matching, not in the database and ..."
11,2023-01-01,3,3,3,-1,-1,"Data is not matching, not in the database and ..."
12,2022-12-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."
13,2022-11-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."
14,2022-10-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."
15,2022-09-01,0,0,0,-1,-1,"Data is not matching, not in the database and ..."

In [83]:
excel_file['Held'] = excel_file.apply(
    lambda row: 'no vault' if ('3' or'0') in row['test'] else 'No', axis='columns')

C:\Users\l.arguello\AppData\Local\Temp\ipykernel_11592\973417947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excel_file['Held'] = excel_file.apply(

In [84]:
excel_file['Held']

0           No
1           No
2           No
3           No
4     no vault
5     no vault
6     no vault
7     no vault
8     no vault
9     no vault
10    no vault
11    no vault
12          No
13          No
14          No
15          No
Name: Held, dtype: object

In [36]:
excel_file['value']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
Name: value, dtype: float64

In [115]:
excel_file

7,Date,Gross Return (%),Net Return (%),Assets,Accounts,NaN,test
0,2023-12-01,-1,-1,-1,-1,-1,-1-1-1-1-1
1,2023-11-01,0,0,0,-1,-1,Complete
2,2023-10-01,0,0,0,-1,-1,Complete
3,2023-09-01,0,0,0,-1,-1,Complete
4,2023-08-01,0,0,3,-1,-1,"Data not in the Vault, not in the database, an..."
5,2023-07-01,3,3,3,-1,-1,"Data not in the Vault, not in the database, an..."
6,2023-06-01,3,3,3,-1,-1,"Data not in the Vault, not in the database, an..."
7,2023-05-01,3,3,3,-1,-1,"Data not in the Vault, not in the database, an..."
8,2023-04-01,0,0,3,-1,-1,"Data not in the Vault, not in the database, an..."
9,2023-03-01,3,3,3,-1,-1,"Data not in the Vault, not in the database, an..."
10,2023-02-01,3,3,3,-1,-1,"Data not in the Vault, not in the database, an..."
11,2023-01-01,3,3,3,-1,-1,"Data not in the Vault, not in the database, an..."
12,2022-12-01,0,0,0,-1,-1,Complete
13,2022-11-01,0,0,0,-1,-1,Complete
14,2022-10-01,0,0,0,-1,-1,Complete
15,2022-09-01,0,0,0,-1,-1,Complete

0    2023-12-01
1    2023-11-01
2    2023-10-01
3    2023-09-01
4    2023-08-01
5    2023-07-01
6    2023-06-01
7    2023-05-01
8    2023-04-01
9    2023-03-01
10   2023-02-01
11   2023-01-01
12   2022-12-01
13   2022-11-01
14   2022-10-01
15   2022-09-01
Name: Date, dtype: datetime64[ns]
0                     NaN
1                 4.87298
2                -1.89670
3                -2.63552
4                -0.62979
5       0.02650 / 0.04447
6     -0.21631 / -0.18826
7     -0.98764 / -0.97212
8                 0.57062
9       2.05121 / 2.02233
10     -2.19887 / -2.1758
11      3.62683 / 3.68414
12               -0.37934
13                3.71525
14               -1.62929
15               -4.46798
Name: Gross Return (%), dtype: object
0                     NaN
1                 4.84676
2                -1.92122
3                -2.65986
4                -0.65464
5       0.00149 / 0.01946
6     -0.24126 / -0.21321
7     -1.01239 / -0.99688
8                 0.54548
9       2.02570 / 1.99683
10    -2.22332 / -2.20025
11      3.60092 / 3.65822
12               -0.40425
13                3.68933
14               -1.65389
15               -4.49186
Name: Net Return (%), dtype: object
0                   NaN
1              Complete
2              Complete
3              Complete
4     Data not matching
5     Data not matching
6     Data not matching
7     Data not matching
8     Data not matching
9     Data not matching
10    Data not matching
11    Data not matching
12             Complete
13             Complete
14             Complete
15             Complete
Name: Assets, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
Name: Accounts, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
Name: nan, dtype: object

In [59]:
excel_file["Assets"][1].int.replace(float(excel_file["Assets"][1]
                                      ), "Complete", regex=True)

AttributeError: 'str' object has no attribute 'int'

In [48]:
excel_file["Assets"]

0                     NaN
1                4684.755
2                4453.165
3                4551.717
4     4663.914 / 4026.569
5     4580.570 / 3938.822
6     4037.725 / 3395.588
7     3880.486 / 3236.112
8     3778.702 / 3127.212
9     3606.232 / 2958.551
10     3425.921 / 2791.82
11     3112.535 / 2463.61
12               2929.579
13               2932.680
14               2814.158
15               2880.654
Name: Assets, dtype: object

In [134]:
excel_file.index[:1:]

Int64Index([0], dtype='int64')

In [118]:
#for index in range(0,5):
#    for excel_file.loc[index]:

In [119]:
# Getting number of columns:
len(excel_file.columns)

6

In [120]:
a = excel_file[excel_file[excel_file.columns[3]].str.contains(" / ", na=False)]

In [121]:
a

7,Date,Gross Return (%),Net Return (%),Assets,Accounts,NaN
4,08/2023,-0.62979,-0.65464,4663.914 / 4026.569,NaN,NaN
5,07/2023,0.02650 / 0.04447,0.00149 / 0.01946,4580.570 / 3938.822,NaN,NaN
6,06/2023,-0.21631 / -0.18826,-0.24126 / -0.21321,4037.725 / 3395.588,NaN,NaN
7,05/2023,-0.98764 / -0.97212,-1.01239 / -0.99688,3880.486 / 3236.112,NaN,NaN
8,04/2023,0.57062,0.54548,3778.702 / 3127.212,NaN,NaN
9,03/2023,2.05121 / 2.02233,2.02570 / 1.99683,3606.232 / 2958.551,NaN,NaN
10,02/2023,-2.19887 / -2.1758,-2.22332 / -2.20025,3425.921 / 2791.82,NaN,NaN
11,01/2023,3.62683 / 3.68414,3.60092 / 3.65822,3112.535 / 2463.61,NaN,NaN
17,07/2022,2.47886,2.45324,3107.091 / 3107.177,NaN,NaN
25,11/2021,0.22889,0.20384,3869.332 / 2267.893,NaN,NaN
26,10/2021,-0.15595,-0.18091,3800.964 / <NO DATA>,NaN,NaN
40,08/2020,-0.50078,-0.52566,2961.679 / <NO DATA>,NaN,NaN
41,07/2020,1.73340,1.70797,2861.364 / <NO DATA>,NaN,NaN
43,05/2020,0.94656,0.92133,2636.528 / <NO DATA>,NaN,NaN
44,04/2020,2.40972,2.38412,2528.336 / <NO DATA>,NaN,NaN
46,02/2020,1.62094,1.59554,2503.321 / <NO DATA>,NaN,NaN
47,01/2020,2.16829,2.14275,2364.729 / <NO DATA>,NaN,NaN

In [122]:
b = excel_file[excel_file[excel_file.columns[4]].str.contains(" / ", na=False)]

In [123]:
b

7       Date Gross Return (%) Net Return (%)    Assets      Accounts  NaN
24   12/2021         -0.19196       -0.21691  3853.344  <NO APX> / 4  NaN
27   09/2021         -0.78686       -0.81166  3823.652  <NO APX> / 3  NaN
30   06/2021          0.91921        0.89398  3704.711  <NO APX> / 3  NaN
33   03/2021         -1.22772       -1.25241  3624.653  <NO APX> / 3  NaN
36   12/2020          0.43161        0.40650  3447.252  <NO APX> / 3  NaN
..       ...              ...            ...       ...           ...  ...
320  04/1997          1.39000        1.37000    28.878  <NO APX> / 1  NaN
321  03/1997         -0.83000       -0.85000    28.822  <NO APX> / 1  NaN
322  02/1997          0.19000        0.16000    29.885  <NO APX> / 1  NaN
323  01/1997          0.61000        0.59000    29.957  <NO APX> / 1  NaN
324  12/1996         -0.50000       -0.53000    30.549  <NO APX> / 1  NaN

[285 rows x 6 columns]

In [124]:
df = pd.merge(a, b, left_index=True, right_index=True)

In [140]:
for i in excel_file.index:
      if i.str.contains(" / ", na=False):
          print(excel_file.iloc[j])

AttributeError: 'int' object has no attribute 'str'

In [143]:
for (index, colname) in enumerate(excel_file):
    print(index, excel_file[colname])

0 0      12/2023
1      11/2023
2      10/2023
3      09/2023
4      08/2023
        ...
331    05/1996
332    04/1996
333    03/1996
334    02/1996
335    01/1996
Name: Date, Length: 336, dtype: object
1 0           NaN
1       4.87298
2      -1.89670
3      -2.63552
4      -0.62979
         ...
331    -0.18000
332    -0.40999
333    -0.80001
334    -1.18000
335     0.83000
Name: Gross Return (%), Length: 336, dtype: object
2 0           NaN
1       4.84676
2      -1.92122
3      -2.65986
4      -0.65464
         ...
331    -0.21000
332    -0.43000
333    -0.83000
334    -1.20000
335     0.81000
Name: Net Return (%), Length: 336, dtype: object
3 0                      NaN
1                 4684.755
2                 4453.165
3                 4551.717
4      4663.914 / 4026.569
              ...
331                    NaN
332                    NaN
333                    NaN
334                    NaN
335                    NaN
Name: Assets, Length: 336, dtype: object
4 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
331    NaN
332    NaN
333    NaN
334    NaN
335    NaN
Name: Accounts, Length: 336, dtype: object
5 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
331    NaN
332    NaN
333    NaN
334    NaN
335    NaN
Name: nan, Length: 336, dtype: object

In [158]:
for i in excel_file.columns[1:]:
    for j in excel_file[i]:
        if type(j) == str:
            print('ifkdlgjf')

ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf
ifkdlgjf

In [153]:
for i in excel_file.columns[1:]:
    for j in excel_file[i]:
        print(j)

nan
4.87298
-1.89670
-2.63552
-0.62979
0.02650 / 0.04447
-0.21631 / -0.18826
-0.98764 / -0.97212
0.57062
2.05121 / 2.02233
-2.19887 / -2.1758
3.62683 / 3.68414
-0.37934
3.71525
-1.62929
-4.46798
-2.44458
2.47886
-1.79780
0.10295
-3.69324
-2.91862
-1.23839
-1.98606
-0.19196
0.22889
-0.15595
-0.78686
-0.15399
1.15354
0.91921
0.31739
0.95538
-1.22772
-1.33499
-0.40070
0.43161
1.41243
-0.39773
0.07748
-0.50078
1.73340
1.36608
0.94656
2.40972
-2.36099
1.62094
2.16829
-0.06380
-0.09156
0.25687
-0.49614
2.64775
0.28933
1.19028
1.81343
0.05541
1.99056
0.12708
1.11826
1.60787
0.53892
-0.77699
-0.54041
0.63821
0.12107
0.04743
0.65101
-0.60771
0.56130
-0.82019
-0.98884
0.47029
-0.04099
0.09613
-0.39494
0.91964
0.40384
0.11379
0.77823
0.84732
-0.08190
0.87240
0.48770
0.17150
-2.17440
-0.56760
0.08270
-0.00460
0.93660
1.70640
0.09810
0.85660
1.15070
0.37700
0.96800
-0.49430
-0.08350
0.10390
0.58080
-0.27940
0.77470
-1.02730
-0.16440
-0.26240
0.56900
-0.82900
2.17870
0.06720
0.67960
0.77520
-0.45150
1.07570
-0.14490
0.32880
1.19440
1.01320
-0.03690
0.73260
1.61340
-0.49330
-0.12540
1.21810
1.33070
-0.69060
0.35280
-2.26970
-1.49790
1.18630
0.26190
0.73200
-0.02350
0.10680
0.36220
0.70980
1.01520
0.65250
1.69930
0.48300
0.57790
1.07540
0.29950
0.67100
1.74070
1.18900
-0.73800
0.96950
-0.00170
-0.09850
1.37910
-0.72850
0.90900
1.70280
0.33320
0.83480
0.63280
0.01540
-0.25160
0.41190
0.57200
1.67940
1.43080
1.63200
-0.23390
1.77680
0.62230
0.75300
2.27830
-0.75286
1.36533
1.78359
2.44772
2.17137
3.63886
2.00801
2.95197
2.64395
0.65993
-0.66193
0.69033
2.43840
-0.59754
-4.84887
-1.51624
0.43308
-1.27126
-0.32243
-0.79386
-0.30000
0.10000
-0.33000
1.32000
0.30000
1.51999
0.82001
0.72000
1.14000
0.60000
-0.44000
-0.70001
0.60001
-0.02001
1.59001
0.07000
-0.13000
1.20000
0.80000
0.99000
1.54000
1.34000
0.18000
-0.01000
-0.25000
-0.85000
0.45000
0.06000
0.99000
0.47000
-0.85000
-0.94000
1.25000
-0.76000
0.52000
0.93000
1.12000
-0.36000
-0.39000
0.65000
0.95000
-0.45000
0.84000
0.23000
1.86000
0.97000
0.36000
-0.44000
-2.20000
0.74000
0.83000
0.95000
0.95000
0.36000
-0.51000
2.69000
0.70000
-3.69000
-0.17000
2.07000
1.21000
0.16000
1.83000
0.10000
2.23000
0.63000
-0.15000
1.65000
1.94000
0.71000
0.51000
1.13000
1.67000
-1.79000
1.04000
0.74000
-0.69000
-1.76000
2.04000
2.06000
1.05000
2.13000
0.26000
0.58000
-0.26000
0.70000
0.92000
1.06000
1.96000
1.60000
0.84000
0.72000
1.49000
0.73000
1.93000
0.19000
-0.16000
1.37000
1.25000
-0.37000
-0.37000
0.06000
0.28000
1.23000
0.38000
-0.36000
-0.27000
-0.76000
0.59001
0.40000
-1.75000
0.60000
0.39000
0.18000
-0.12000
2.51000
2.15000
0.40000
0.81000
0.99000
0.38000
0.29000
-0.16000
1.42000
0.92000
0.16000
1.65000
1.35000
-0.53000
2.42000
1.06000
0.85000
1.39000
-0.83000
0.19000
0.61000
-0.50000
1.45001
1.93000
1.39000
0.03000
0.35000
1.18001
-0.18000
-0.40999
-0.80001
-1.18000
0.83000
nan
4.84676
-1.92122
-2.65986
-0.65464
0.00149 / 0.01946
-0.24126 / -0.21321
-1.01239 / -0.99688
0.54548
2.02570 / 1.99683
-2.22332 / -2.20025
3.60092 / 3.65822
-0.40425
3.68933
-1.65389
-4.49186
-2.46897
2.45324
-1.82235
0.07793
-3.71732
-2.94289
-1.26308
-2.01057
-0.21691
0.20384
-0.18091
-0.81166
-0.17895
1.12825
0.89398
0.29231
0.93014
-1.25241
-1.35966
-0.42560
0.40650
1.38708
-0.42263
0.05246
-0.52566
1.70797
1.34074
0.92133
2.38412
-2.38540
1.59554
2.14275
-0.08879
-0.11654
0.23180
-0.52101
2.62209
0.26426
1.16495
1.78795
0.03036
1.96502
0.10201
1.09295
1.58243
0.51375
-0.80183
-0.56530
0.61301
0.09600
0.02238
0.62582
-0.63259
0.53612
-0.84502
-1.01363
0.44514
-0.06602
0.07107
-0.41987
0.89438
0.37871
0.08873
0.75300
0.82207
-0.10691
0.84715
0.46254
0.14642
-2.19889
-0.59249
0.05764
-0.02963
0.91133
1.68094
0.07304
0.83135
1.12538
0.35187
0.94272
-0.51921
-0.10851
0.07884
0.55562
-0.30436
0.74947
-1.05208
-0.18939
-0.28737
0.54382
-0.85383
2.15312
0.04215
0.65440
0.74997
-0.47642
1.05040
-0.16990
0.30368
1.16907
0.98791
-0.06193
0.70738
1.58796
-0.51821
-0.15040
1.19276
1.30533
-0.71546
0.32768
-2.29417
-1.52256
1.16097
0.23680
0.70678
-0.04853
0.08174
0.33707
0.68459
0.98991
0.62730
1.67384
0.45784
0.55272
1.05010
0.27439
0.64580
1.71523
1.16367
-0.76285
0.94422
-0.02673
-0.12351
1.35372
-0.75335
0.88374
1.67734
0.30808
0.80956
0.60761
-0.00964
-0.27657
0.38676
0.54682
1.65395
1.40541
1.60656
-0.25888
1.75132
0.59711
0.72778
2.25270
-0.77786
1.34033
1.75859
2.42272
2.14637
3.61500
1.98500
2.92500
2.61500
0.63500
-0.68500
0.66500
2.41500
-0.62500
-4.87500
-1.54500
0.40500
-1.29500
-0.34500
-0.81500
-0.32500
0.07500
-0.35500
1.29500
0.27500
1.49500
0.79500
0.69500
1.11500
0.57500
-0.46500
-0.72500
0.57500
-0.04500
1.56500
0.04500
-0.15500
1.17500
0.77500
0.96500
1.51500
1.31500
0.15500
-0.03500
-0.27500
-0.87500
0.42500
0.03500
0.96000
0.45000
-0.88000
-0.96000
1.22000
-0.79000
0.50000
0.90000
1.10000
-0.38000
-0.41000
0.62000
0.93000
-0.48000
0.81000
0.20000
1.83000
0.95000
0.34000
-0.46000
-2.23000
0.72000
0.80000
0.93000
0.92000
0.34000
-0.53000
2.67000
0.67000
-3.72000
-0.19000
2.04000
1.18000
0.14000
1.80000
0.08000
2.20000
0.60000
-0.18000
1.63000
1.91000
0.69000
0.48000
1.10000
1.65000
-1.81000
1.01000
0.71000
-0.72000
-1.78000
2.01000
2.04000
1.02000
2.11000
0.23000
0.56000
-0.29000
0.68000
0.90000
1.04000
1.93000
1.58000
0.82000
0.70000
1.46000
0.71000
1.90000
0.17000
-0.19000
1.34000
1.22000
-0.39000
-0.40000
0.04000
0.25000
1.21000
0.35000
-0.38000
-0.30000
-0.79000
0.56000
0.38000
-1.78000
0.58000
0.36000
0.15000
-0.14000
2.49000
2.13000
0.37000
0.79000
0.97000
0.35000
0.26000
-0.19000
1.40000
0.90000
0.13000
1.62000
1.32000
-0.55000
2.39000
1.03000
0.83000
1.37000
-0.85000
0.16000
0.59000
-0.53000
1.43000
1.90000
1.36000
0.01000
0.32000
1.16000
-0.21000
-0.43000
-0.83000
-1.20000
0.81000
nan
4684.755
4453.165
4551.717
4663.914 / 4026.569
4580.570 / 3938.822
4037.725 / 3395.588
3880.486 / 3236.112
3778.702 / 3127.212
3606.232 / 2958.551
3425.921 / 2791.82
3112.535 / 2463.61
2929.579
2932.680
2814.158
2880.654
3012.084
3107.091 / 3107.177
3082.579
3197.286
3252.415
3456.339
3582.538
3684.198
3853.344
3869.332 / 2267.893
3800.964 / <NO DATA>
3823.652
3819.123
3756.523
3704.711
3658.933
3659.914
3624.653
3563.160
3549.339
3447.252
3329.244
3237.131
3118.714
2961.679 / <NO DATA>
2861.364 / <NO DATA>
2728.787
2636.528 / <NO DATA>
2528.336 / <NO DATA>
2402.938
2503.321 / <NO DATA>
2364.729 / <NO DATA>
2155.501
2104.952
2012.016
1895.284
1827.308
1677.109
1590.899
1515.237
1470.705
1450.492
1416.738
1415.552
1400.259
1419.931
1412.092
1430.086
1434.488
1424.994
1433.357
1437.374
1433.485
1441.210
1430.059
1359.729
1324.521
1305.648
1299.637
1286.741
1276.077
1257.423
1248.209
1234.866
1211.816
707.388
683.054
667.343
652.100
643.364
628.245
593.483
558.393
527.484
505.624
474.889
464.169
451.229
434.092
419.131
401.005
386.953
378.046
366.875
355.842
343.650
335.500
331.326
325.140
319.164
309.377
301.586
287.900
271.999
263.344
250.844
246.335
238.320
235.008
230.609
222.932
217.840
215.229
211.686
209.309
210.603
211.348
209.020
210.588
225.201
231.903
242.500
244.424
240.484
237.162
238.287
242.456
241.967
230.093
224.792
218.225
213.924
206.158
202.764
201.392
201.940
206.413
206.933
200.764
197.613
197.089
190.551
180.946
164.240
165.875
157.789
156.138
154.403
153.214
154.492
159.418
163.380
165.377
168.008
166.626
162.937
157.564
154.039
146.484
139.484
139.500
137.164
132.810
134.181
133.169
129.840
126.867
124.029
119.578
116.626
113.022
109.567
110.537
111.144
110.701
105.704
106.070
111.325
112.188
113.261
115.250
116.129
118.245
119.776
120.915
121.924
119.129
119.782
119.546
119.825
119.851
119.867
120.777
122.481
125.021
125.380
125.566
125.436
127.993
129.033
129.237
130.966
131.363
132.800
134.399
136.608
139.525
143.919
147.662
149.658
152.283
153.420
155.628
159.288
163.299
163.368
166.115
166.530
167.062
167.265
170.995
173.754
175.095
176.364
178.909
181.198
183.939
183.278
185.345
187.417
192.009
201.323
202.391
205.781
207.615
211.841
215.261
220.259
224.999
226.886
239.226
243.091
238.595
236.719
235.855
227.796
226.986
222.993
225.122
224.891
219.176
215.020
203.607
200.651
196.066
191.594
194.020
192.143
193.423
203.057
205.230
199.938
182.920
180.595
177.166
175.282
177.179
181.504
176.360
174.696
170.218
169.838
165.541
164.438
165.410
165.827
166.194
164.882
167.158
172.262
175.264
180.972
191.767
196.482
199.688
203.106
202.569
201.130
208.170
212.958
217.400
217.775
222.828
222.406
222.720
221.358
226.730
214.527
194.941
178.086
180.108
182.471
181.745
185.146
183.025
188.582
187.165
29.638
30.485
26.657
28.455
28.680
28.892
29.206
28.878
28.822
29.885
29.957
30.549
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
<NO APX> / 4
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
nan
nan
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 3
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 2
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
<NO APX> / 1
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [179]:
mask = np.column_stack([excel_file[col].str.contains(r" / ", na=False) for col in excel_file])
excel_file.loc[mask.any(axis=1)]

7,Date,Gross Return (%),Net Return (%),Assets,Accounts,NaN
4,08/2023,-0.62979,-0.65464,4663.914 / 4026.569,NaN,NaN
5,07/2023,0.02650 / 0.04447,0.00149 / 0.01946,4580.570 / 3938.822,NaN,NaN
6,06/2023,-0.21631 / -0.18826,-0.24126 / -0.21321,4037.725 / 3395.588,NaN,NaN
7,05/2023,-0.98764 / -0.97212,-1.01239 / -0.99688,3880.486 / 3236.112,NaN,NaN
8,04/2023,0.57062,0.54548,3778.702 / 3127.212,NaN,NaN
...,...,...,...,...,...,...
320,04/1997,1.39000,1.37000,28.878,<NO APX> / 1,NaN
321,03/1997,-0.83000,-0.85000,28.822,<NO APX> / 1,NaN
322,02/1997,0.19000,0.16000,29.885,<NO APX> / 1,NaN
323,01/1997,0.61000,0.59000,29.957,<NO APX> / 1,NaN
324,12/1996,-0.50000,-0.53000,30.549,<NO APX> / 1,NaN