In [1]:
import os
import glob 
import pandas as pd
from tqdm import tqdm
import time

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Allowing the user to select the dataset so we can locate the respective folder:
user_dataset = input('Enter the dataset to review from the Data Auditor: ')
print("The user would like to use the dataset: ", user_dataset)

The user would like to use the dataset:  aum

In [3]:
# Vehicles that we're interested in are being listed here:

# Core Fixed Income	                    12776	P73285
# Core Plus Fixed Income	            12777	P74285 
# Global Quality Value	                12783	P85285
# Strategic Fixed Income	            12811	P121285
# Strategic Fixed Income Opportunities	12812	P126285
# US Small Cap Core	                    12823	P147285

sheet_names = ['P73285', 'P74285', 'P85285', 'P121285', 'P126285', 'P147285']

In [4]:
# Setting file path. We'll be opening first the Performance folder:
absolute_path = "C:/Users/l.arguello/Downloads/Manulife_DataAuditor/"

file_path = absolute_path+user_dataset

In [5]:
# Using glob to get all the Excel file names in the selected folder, to loop through them:

csv_files = glob.glob(os.path.join(file_path, "*.xlsx")) 
  
file_names = []

# Loop over the list of Excel files: 
for f in tqdm(csv_files, desc="Loading…",ascii=False, ncols=75):

        time.sleep(0.03) 
        # Print the location and filename 
        print('File Name:', f.split("\\")[-1]) 
        # Add each Excel file name to file_names list 
        file_names.append(f.split("\\")[-1])      
 
print("Complete.")

Loading…:  29%|████████▎                    | 4/14 [00:00<00:00, 30.77it/s]

File Name: Data_Audit_Report_Alpha_Portfolio_Advisors_1_2024.xlsx
File Name: Data_Audit_Report_Broadridge_1_2024.xlsx
File Name: Data_Audit_Report_Callan_Assoc_1_2024.xlsx
File Name: Data_Audit_Report_Camradata_1_2024.xlsx
File Name: Data_Audit_Report_eVestment_Alliance_1_2024.xlsx
File Name: Data_Audit_Report_Global_Fund_Search_1_2024.xlsx

Loading…:  79%|██████████████████████      | 11/14 [00:00<00:00, 27.80it/s]

File Name: Data_Audit_Report_Global_Manager_Research_1_2024.xlsx
File Name: Data_Audit_Report_Investment_Metrics_1_2024.xlsx
File Name: Data_Audit_Report_LCG_Assoc_1_2024.xlsx
File Name: Data_Audit_Report_Mercer_1_2024.xlsx
File Name: Data_Audit_Report_Morningstar_1_2024.xlsx
File Name: Data_Audit_Report_Preqin_Hedge_Fund_Analyst_1_2024.xlsx

Loading…: 100%|████████████████████████████| 14/14 [00:00<00:00, 27.24it/s]

File Name: Data_Audit_Report_PSN_Informa_1_2024.xlsx
File Name: Data_Audit_Report_Wilshire_1_2024.xlsx
Complete.

In [6]:
# Loading a sample of the names list obtained from the selected folder:
file_names

['Data_Audit_Report_Alpha_Portfolio_Advisors_1_2024.xlsx',
 'Data_Audit_Report_Broadridge_1_2024.xlsx',
 'Data_Audit_Report_Callan_Assoc_1_2024.xlsx',
 'Data_Audit_Report_Camradata_1_2024.xlsx',
 'Data_Audit_Report_eVestment_Alliance_1_2024.xlsx',
 'Data_Audit_Report_Global_Fund_Search_1_2024.xlsx',
 'Data_Audit_Report_Global_Manager_Research_1_2024.xlsx',
 'Data_Audit_Report_Investment_Metrics_1_2024.xlsx',
 'Data_Audit_Report_LCG_Assoc_1_2024.xlsx',
 'Data_Audit_Report_Mercer_1_2024.xlsx',
 'Data_Audit_Report_Morningstar_1_2024.xlsx',
 'Data_Audit_Report_Preqin_Hedge_Fund_Analyst_1_2024.xlsx',
 'Data_Audit_Report_PSN_Informa_1_2024.xlsx',
 'Data_Audit_Report_Wilshire_1_2024.xlsx']

In [41]:
# Defining the Excel file to be openned and the sheet we need from the book:
excel_file_orig = pd.read_excel(file_path+'/'+file_names[12], sheet_name=sheet_names[3])
# Printing a file sample:
excel_file_orig.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,LEGEND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Green Indicates matching data between APX and ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Yellow Indicates nonmatching data between APX ...,NaN,"*For a data mismatch, information is formated ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Selecting the header names placed in row 7:
excel_file_orig.rename(columns = excel_file_orig.iloc[7], inplace= True)
# Selecting the rows with data and reseting the index:
excel_file = excel_file_orig[7:][1:].set_index(['Date'], drop=True)

In [43]:
# Checking data type of all columns in the file:
excel_file.info()
# Date column does not have the correct type, the others are mixed due to characters being in them such as /

<class 'pandas.core.frame.DataFrame'>
Index: 216 entries, 12/2023 to 01/2006
Data columns (total 28 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Taxable Accounts                                               216 non-null    object
 1   Taxable Assets                                                 216 non-null    object
 2   Tax-Exempt Accounts                                            205 non-null    object
 3   Tax-Exempt Assets                                              205 non-null    object
 4   Institutional or High Net Worth Separate Accounts              62 non-null     object
 5   Institutional or High Net Worth Separate Assets                62 non-null     object
 6   Managed Account (WRAP) Accounts                                62 non-null     object
 7   Managed Account (WRAP) Assets                                  62 non-null     object
 8   Multiple Strategy Portfolio Accounts                           62 non-null     object
 9   Multiple Strategy Portfolio Assets                             62 non-null     object
 10  Mutual Fund Accounts                                           62 non-null     object
 11  Mutual Fund Assets                                             62 non-null     object
 12  Commingled Fund/Collective Trust/Limited Partnership Accounts  62 non-null     object
 13  Commingled Fund/Collective Trust/Limited Partnership Assets    62 non-null     object
 14  Hedge Fund Accounts                                            62 non-null     object
 15  Hedge Fund Assets                                              62 non-null     object
 16  Other Accounts                                                 62 non-null     object
 17  Other Assets                                                   62 non-null     object
 18  Accounts Gained                                                59 non-null     object
 19  Assets Gained                                                  59 non-null     object
 20  Accounts Lost                                                  61 non-null     object
 21  Assets Lost                                                    61 non-null     object
 22  Median Tax-Exempt Account ($Millions)                          62 non-null     object
 23  Median Taxable Account ($Millions)                             62 non-null     object
 24  Median Account ($Millions)                                     62 non-null     object
 25  Total Number of Clients                                        45 non-null     object
 26  # of Accounts                                                  60 non-null     object
 27  $MM in Composite                                               80 non-null     object
dtypes: object(28)
memory usage: 48.9+ KB

In [44]:
# We need information from 09/2022 onwards, so I'll be turning Date column into correct type and then filter by date:
excel_file.index = pd.to_datetime(excel_file.index)
# Selecting data in the dataframe by the correct date:
excel_file = excel_file[~(excel_file.index < '09/2022')]

In [45]:
# Setting up the correct format for the index/Date column
excel_file.index = excel_file.index.strftime("%m/%Y")

In [46]:
# Printing the dataframe with information since 09/2022:
excel_file

,Taxable Accounts,Taxable Assets,Tax-Exempt Accounts,Tax-Exempt Assets,Institutional or High Net Worth Separate Accounts,Institutional or High Net Worth Separate Assets,Managed Account (WRAP) Accounts,Managed Account (WRAP) Assets,Multiple Strategy Portfolio Accounts,Multiple Strategy Portfolio Assets,...,Accounts Gained,Assets Gained,Accounts Lost,Assets Lost,Median Tax-Exempt Account ($Millions),Median Taxable Account ($Millions),Median Account ($Millions),Total Number of Clients,# of Accounts,$MM in Composite
Date,,,,,,,,,,,,,,,,,,,,,
12/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/2023,17,13087.17,26,2220.01,18,2948.02,0,0,0,0,...,NaN,NaN,3 / 8,3.89 / 89.41,<NO APX> / 34.95,<NO APX> / 126.72,<NO APX> / 54.19,43,NaN,2566.30 / 2423.02
08/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
07/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06/2023,18,14373.27,28,2301.67,18,3046.99,0,0,0,0,...,NaN,NaN,5,85.52,<NO APX> / 30.86,<NO APX> / 118.75,<NO APX> / 46.02,46,NaN,2710.88 / 2549.38
05/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
04/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
03/2023,0 / 18,0 / 13854.20,0 / 33,0 / 2427.68,<NO APX> / 25,<NO APX> / 15528.64,<NO APX> / 0,<NO APX> / 0.00,<NO APX> / 0,<NO APX> / 0.00,...,NaN,NaN,NaN,NaN,<NO APX> / 27.15,<NO APX> / 111.63,<NO APX> / 42.59,<NO APX> / 51,NaN,<NO APX> / 2664.33
02/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/2023,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12/2022,0 / 18,0 / 13685.01,0 / 33,0 / 2323.32,<NO APX> / 25,<NO APX> / 15281.26,<NO APX> / 0,<NO APX> / 0.00,<NO APX> / 0,<NO APX> / 0.00,...,<NO APX> / 1,<NO APX> / 15.05,<NO APX> / 6,<NO APX> / 54.11,<NO APX> / 24.46,<NO APX> / 100.16,<NO APX> / 42.15,<NO APX> / 51,NaN,<NO APX> / 2602.86
11/2022,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/2022,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,0 / <NO DATA>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/2022,0 / 18,0 / 13726.61,0 / 37,0 / 2265.72,<NO APX> / 25,<NO APX> / 15269.13,<NO APX> / 0,<NO APX> / 0.00,<NO APX> / 0,<NO APX> / 0.00,...,<NO APX> / 1,<NO APX> / 15.05,<NO APX> / 2,<NO APX> / 54.10,<NO APX> / 21.28,<NO APX> / 111.88,<NO APX> / 38.86,<NO APX> / 55,NaN,NaN

In [47]:
# Dropping rows and columns in which all the cells contain NaN values:
excel_file = excel_file.dropna(how='all', axis=0).dropna(how='all', axis=1)

In [48]:
# Creating a for loop to assign dummy variables to the Data Gap Auditor report:
for n in range(0, excel_file.shape[1]):

    for i,j in enumerate(excel_file[excel_file.columns[(n)]]):
        
        
        try:
            if float(j) >= 0 or float(j) <= 0:

                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '0') # "Complete"
                
        except:
            if "<NO APX> / " in j:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '1') # "Data not in the Vault"
            elif " / <NO DATA>" in j:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '2') # "Data not in the database"
            elif " / " in j:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '3') # "Data not matching"  
            else:
                excel_file[excel_file.columns[n]][i] = excel_file[excel_file.columns[n]][i].replace(j, '')  # If the cell does not contain any of this criteria above, then it's not relevant for our analysis/reviewal

In [49]:
# Let's fill the NaN values for easier further processes:
excel_file.fillna('', inplace=True)

In [50]:
excel_file

,Taxable Accounts,Taxable Assets,Tax-Exempt Accounts,Tax-Exempt Assets,Institutional or High Net Worth Separate Accounts,Institutional or High Net Worth Separate Assets,Managed Account (WRAP) Accounts,Managed Account (WRAP) Assets,Multiple Strategy Portfolio Accounts,Multiple Strategy Portfolio Assets,...,Other Assets,Accounts Gained,Assets Gained,Accounts Lost,Assets Lost,Median Tax-Exempt Account ($Millions),Median Taxable Account ($Millions),Median Account ($Millions),Total Number of Clients,$MM in Composite
Date,,,,,,,,,,,,,,,,,,,,,
12/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
11/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
10/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
09/2023,0,0,0,0,0,0,0,0,0,0,...,0,,,3,3,1,1,1,0,3
08/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
07/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
06/2023,0,0,0,0,0,0,0,0,0,0,...,0,,,0,0,1,1,1,0,3
05/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
04/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
03/2023,3,3,3,3,1,1,1,1,1,1,...,1,,,,,1,1,1,1,1
02/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
01/2023,2,2,2,2,,,,,,,...,,,,,,,,,,
12/2022,3,3,3,3,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
11/2022,2,2,2,2,,,,,,,...,,,,,,,,,,
10/2022,2,2,2,2,,,,,,,...,,,,,,,,,,
09/2022,3,3,3,3,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,

In [51]:
# Putting the dummy variables in a single column:
excel_file['Review'] = excel_file[excel_file.columns[0:]].apply(lambda x: ''.join(x.astype(str)), axis=1)
# Load a sample of how it looks like at the moment:
excel_file.head()

,Taxable Accounts,Taxable Assets,Tax-Exempt Accounts,Tax-Exempt Assets,Institutional or High Net Worth Separate Accounts,Institutional or High Net Worth Separate Assets,Managed Account (WRAP) Accounts,Managed Account (WRAP) Assets,Multiple Strategy Portfolio Accounts,Multiple Strategy Portfolio Assets,...,Accounts Gained,Assets Gained,Accounts Lost,Assets Lost,Median Tax-Exempt Account ($Millions),Median Taxable Account ($Millions),Median Account ($Millions),Total Number of Clients,$MM in Composite,Review
Date,,,,,,,,,,,,,,,,,,,,,
12/2023,2,2,2,2,,,,,,,...,,,,,,,,,,2222
11/2023,2,2,2,2,,,,,,,...,,,,,,,,,,2222
10/2023,2,2,2,2,,,,,,,...,,,,,,,,,,2222
09/2023,0,0,0,0,0,0,0,0,0,0,...,,,3,3,1,1,1,0,3,0000000000000000003311103
08/2023,2,2,2,2,,,,,,,...,,,,,,,,,,2222

In [52]:
excel_file['Review']

Date
12/2023                           2222
11/2023                           2222
10/2023                           2222
09/2023      0000000000000000003311103
08/2023                           2222
07/2023                           2222
06/2023      0000000000000000000011103
05/2023                           2222
04/2023                           2222
03/2023        33331111111111111111111
02/2023                           2222
01/2023                           2222
12/2022    333311111111111111111111111
11/2022                           2222
10/2022                           2222
09/2022     33331111111111111111111111
Name: Review, dtype: object

In [53]:
# Creating a for loop to assign the correct description to each period:
for i, j in enumerate(excel_file['Review']):
        
        if all('0' in k for k in j):
            excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Complete')

        elif all('1' in k for k in j):
            excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the Vault')

        elif all('2' in k for k in j):
            excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the database')   

        elif all('3' in k for k in j):
            excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not matching')

In [54]:
excel_file['Review']

Date
12/2023       Data not in the database
11/2023       Data not in the database
10/2023       Data not in the database
09/2023      0000000000000000003311103
08/2023       Data not in the database
07/2023       Data not in the database
06/2023      0000000000000000000011103
05/2023       Data not in the database
04/2023       Data not in the database
03/2023        33331111111111111111111
02/2023       Data not in the database
01/2023       Data not in the database
12/2022    333311111111111111111111111
11/2022       Data not in the database
10/2022       Data not in the database
09/2022     33331111111111111111111111
Name: Review, dtype: object

In [57]:
# Now we need to continue to put the other conditions:
for i,j in enumerate(excel_file['Review']):

    if (any('1' in k for k in j) and any('0' in k for k in j)):
        excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the Vault')
    
    elif (any('2' in k for k in j) and any('0' in k for k in j)):
        excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the database')

    elif (any('3' in k for k in j) and any('0' in k for k in j)):
        excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not matching')

    elif (any('3' in k for k in j) and any('1' in k for k in j)):
        excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the Vault and not matching')
    
    elif (any('2' in k for k in j) and any('1' in k for k in j)):
        excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the Vault and not in the database')
    
    elif (any('3' in k for k in j) and any('2' in k for k in j) and any('1' in k for k in j)):
        excel_file['Review'][i] = excel_file['Review'][i].replace(j, 'Data not in the Vault, not matching and not in the database')

In [58]:
excel_file['Review']

Date
12/2023                  Data not in the database
11/2023                  Data not in the database
10/2023                  Data not in the database
09/2023                     Data not in the Vault
08/2023                  Data not in the database
07/2023                  Data not in the database
06/2023                     Data not in the Vault
05/2023                  Data not in the database
04/2023                  Data not in the database
03/2023    Data not in the Vault and not matching
02/2023                  Data not in the database
01/2023                  Data not in the database
12/2022    Data not in the Vault and not matching
11/2022                  Data not in the database
10/2022                  Data not in the database
09/2022    Data not in the Vault and not matching
Name: Review, dtype: object

In [25]:
# Creating a list for each of the periods in the Review column:
periods_0 = []
periods_1 = []
periods_2 = []
periods_3 = []

for i,j in enumerate(zip(excel_file['Review'],excel_file.index)):

    if j[0] == 'Complete':
        periods_0.append(j[1])

    elif j[0] == 'Data not in the Vault':
        periods_1.append(j[1])
    
    elif j[0] == 'Data not in the database':
        periods_2.append(j[1])

    elif j[0] == 'Data not matching':
        periods_3.append(j[1])


#0 "Complete"
#1 "Data not in the Vault"
#2 "Data not in the database"
#3 "Data not matching"

In [27]:
# Sorting the lists by ascending order:
periods_0.sort()
periods_1.sort()
periods_2.sort()
periods_3.sort()

In [28]:
excel_file

,Corporate - Assets - Total Table,Superannuation - Assets - Total Table,Public Fund (Gov) - Assets - Total Table,Union/Multi-Emp - Assets - Total Table,Found&Endow - Assets - Total Table,Health Care - Assets - Total Table,Insurance - Assets - Total Table,High Net Worth - Assets - Total Table,Wrap Accounts - Assets - Total Table,Sub-Advised - Assets - Total Table,...,Range - $10 Million - $100 Million,Total Assets in Range - $10 Million - $100 Million,Total Accounts in Range - $10 Million - $100 Million,Range - $100 Million - $500 Million,Total Assets in Range - $100 Million - $500 Million,Total Accounts in Range - $100 Million - $500 Million,Range - > $500 Million,Total Assets in Range - > $500 Million,Total Accounts in Range - > $500 Million,Review
Date,,,,,,,,,,,,,,,,,,,,,
12/2023,,,,,,,,,,,...,,,,,,,,,,Complete
09/2023,1,,1,,,,1,,,1,...,,1,1,,1,1,,1,1,Data not in the Vault
06/2023,1,,1,,,,1,,,1,...,,,,,,,,,,Data not in the Vault
03/2023,1,,1,,,,1,,1,1,...,,1,1,,1,1,,1,1,Data not in the Vault
12/2022,1,,1,,,,1,,1,1,...,,1,1,,1,1,,1,1,Data not in the Vault
09/2022,1,1,1,1,1,1,1,1,1,1,...,,1,1,,1,1,,1,1,Data not in the Vault

#### **✨Output DataFrame:**

I'll be now creating a dictionary to compile the information and have the output as a dataframe by gathering the description found for the respective periods so that they can be inspected.

In [29]:
# Loading the first sheet "Table of Contents" to obtain information that can be input into the output dataframe:
excel_file_content = pd.read_excel(file_path+'/'+file_names[3])

In [30]:
# A description list is created to put in the final review without considering empty period lists:
description = []

if periods_1 := periods_1: description.append("✔ Data not in the Vault for the periods: {}".format((periods_1)).replace("'",'').replace('[','').replace(']',''))
if periods_2 := periods_2: description.append("✔ Data not in the database for the periods: {}".format((periods_2)).replace("'",'').replace('[','').replace(']',''))
if periods_3 := periods_3: description.append("✔ Data not matching for the periods: {}".format((periods_3)).replace("'",'').replace('[','').replace(']',''))

In [31]:
# Checking a sample of the final description:
description

['✔ Data not in the Vault for the periods: 03/2023, 06/2023, 09/2022, 09/2023, 12/2022']

In [32]:
# Building the dictionary to then transform it into a dataframe:

dict = {'Database': excel_file_content.iloc[4][1],      # Database name e.g. "Wilshire"
        excel_file_orig.iloc[6][1]: description,                  # Product/vehicle name with description of findings e.g. "Core Fixed Income Composite (P73285)"
        }

In [33]:
# Creating a new dataframe that will sum up the findings in the Data Auditor:
output_df = pd.DataFrame([dict])

In [35]:
# Putting each description in a single line (this may duplicate the database name):
output_df0 = output_df.explode(excel_file_orig.iloc[6][1])

# Setting the column width to the max so the whole line can be read:
pd.set_option('display.max_colwidth', -1)

# Sample of the final review:
output_df0

,Database,Core Fixed Income Composite (P73285)
0,Callan Assoc.,"✔ Data not in the Vault for the periods: 03/2023, 06/2023, 09/2022, 09/2023, 12/2022"