In [151]:
import csv
import pandas as pd
import re
import numpy as np

In [152]:
# Selecting the words to be found in the file:
search_words = {"Failed ", "requeued", "False", "Error", "No", "could not", "Could not", "null", "only accepts", 
                "either null or incorrect", "Only quartertly data", "did not", 
                }

# Loading file:
df = pd.read_csv("test_errors.csv")

In [153]:
# Checking the column name where we'll be getting the notes for the report:
column = df.columns[0]
column

'Log for 1195587'

In [154]:
df[column]

0                      45125
1                          
2                          
3                0.431759259
4                    Details
               ...
85               0.453738426
86      Performance complete
87                         
88               0.453738426
89    Dashboard was updated!
Name: Log for 1195587, Length: 90, dtype: object

In [155]:
for i in range(len(df.index)):
   if any(x in df[column][i] for x in search_words):
      print('*'+ df[column][i])

*Could not compare values for "Qtr Net". This value was null in the Vault
*Queue item has been requeued for 1015612 -> No more retries
*Error in Automation.ProcessBrowser
*Queue item has been requeued for 1016343 -> Performance complete
*Error in Automation.ProcessBrowser
*Queue item has been requeued for 1016273 -> Performance complete
*Error in Automation.ProcessBrowser
*Queue item has been requeued for 1016203 -> Performance complete
*Error in eVestmentAlliance.PushPerformance -> Performance complete
*Error in Automation.ProcessBrowser
*Queue item has been requeued for 1016173 -> Performance complete
*Error in eVestmentAlliance.PushPerformance -> Performance complete
*Error in eVestmentAlliance.PushPerformance -> Performance complete
*Comparing "Month Gross" 2.13180 "1.6555" False
*Comparing "Qtr Gross" 2.77129 "3.2085" False
*Comparing "Month Net" 2.12710 "1.6305" False
*Comparing "Qtr Net" 2.75703 "3.1319" False
*Queue item has been requeued for 1016048
*Error in Automation.ProcessBrowser -> No more retries
*Error in Automation.ProcessBrowser
*Queue item has been requeued for 1015932 -> Performance complete

In [156]:
df

           Log for 1195587
0                    45125
1                        
2                        
3              0.431759259
4                  Details
..                     ...
85             0.453738426
86    Performance complete
87                       
88             0.453738426
89  Dashboard was updated!

[90 rows x 1 columns]

In [157]:
df.iloc[6][0]

'eVestment Alliance'

In [158]:
id = re.findall('\d+', column)
id[0]

'1195587'

In [160]:
# Building the report table:
# Extracting the ID number:
id = re.findall('\d+', column)

data  = [[id[0], df.iloc[5][0], df.iloc[6][0], df.iloc[7][0], df.iloc[8][0], df.iloc[11][0], np.nan, np.nan]]

# Building the new dataframe for the report:
df  = pd.DataFrame(data, columns = ['Id', 'Status', 'Database', 'Type', 'Task', 'Period', 'Report', 'Review'])

In [161]:
df

,Id,Status,Database,Type,Task,Period,Report,Review
0,1195587,Complete,eVestment Alliance,Recon,Performance,45100,NaN,NaN